page-payment {
    .tag
    {
        margin-top: 150px;
        text-align: center;

        img {
            height: 250px;
        }

        .text {
            margin: 25px;

            img {
                height: 20px;
                vertical-align: middle;
            }
        }
    }
}
